.contact {
  display: flex;
  margin: 5rem;
  letter-spacing: 3px; 
  max-width: 1080px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contact-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contact-items > img {
  align-self: center;
}

.contact-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-rows > p {
  max-width: 50%;
}

.location-row {
  display: flex;
  flex-direction: column;
  /* margin: 2rem; */
  /* margin-right: 3rem; */
  text-align: center;
}
