.contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 2rem;
  letter-spacing: 3px;
  max-width: 100%;
  white-space: pre-line;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  text-align: center;
}
 .contact-info > img {
  object-fit: contain;
  height: 269px;
  width: 277px;
  margin-right: 3em;
 }

 .contact-delivery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
 }


.contact-grubhub {
  margin-right: 2em;
  transition: all 0.2s ease-in-out;
}
.contact-grubhub:hover {
  transform: scale(1.03);
}

.contact-doordash {
  transition: all 0.2s ease-in-out;
}

.contact-doordash:hover {
  transform: scale(1.03);
}

