.footer {
  width: 100%;
  color: white;
  background-color: #1e1810;
  bottom: 0;
  white-space: pre-line;
}

.footer-container {
  max-width: 1240px;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  /* gap: 30px; */
}

a {
  color: inherit;
}
.lunch > p,
.dinner > p {
  margin-top: -11px;
}

.inner-content-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3em;
}

.lunch > h4 {
  margin-top: -0.2em;
}

.dinner > h4 {
  margin-top: -0.2em;
}

.fb {
  padding-right: 0.5em;
}

@media screen and (max-width: 980px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .center > h3 {
    text-align: center;
  }
  .phone {
    text-align: center;
  }
  .inner-content-center {
    display: flex;
    margin-left: 3rem;
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 680px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .center > h3 {
    align-items: start;
  }
  .phone {
    text-align: start;
  }
  .inner-content-center {
    display: flex;
    margin-left: 0rem;
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
