.navbar {
  color: rgb(238, 243, 239);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(107, 110, 112, 0.5), 50%, transparent 100%);
  background-color: rgba(82, 82, 82, 0.05);
  transition: all .1s ease-in-out;
  height: 80px;
  padding-bottom: 1rem;
  padding-top: 2rem;
}